# Dependencies
node_modules/

# Build output
dist/
out/

# Electron cache
.cache/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron-Store (lokale Nutzerdaten, nicht ins Repo)
app-data/

# Environment
.env
.env.local
